# Port
PORT=3000

# MongoDB
MONGO_URI=your_mongoDb_uri

# Session
SESSION_SECRET=your_session_secret

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
CALLBACK_URL=http://localhost:3000/api/google/auth/redirect